{% extends 'base.html' %}
{% load static %}

{% block icon %}
<link rel="icon" href="{% static 'store/threechairs.svg' %}">
{% endblock icon %}
{% block files %}
{%endblock files %}
{% block title %}Три стула. Корзина{%endblock title %}

{% block content %}
{% if success %}
<h1 class="font-bold text-[#333333] text-[32px] text-center">Заказ успешно оформлен!</h1>
{% else %}
{% if products %}
<style>
  input[type=text], input[type=number], input[type=password], input[type=email] {
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
  }
</style>
<div style="margin-right: 10rem;">
  <div class="grid grid-cols-4">
    <div class="col-span-1">
      <form method="POST" action="/cart/details/" id="detailsForm">
        {% csrf_token %}
        <div class="flex flex-col items-center">
            {{ form.first_name.label_tag }}
            <div class="mb-5">
                {{ form.first_name }}
            </div>
            {% if form.first_name.errors %}
                <div class="mb-5 ml-2">
                    {{ form.first_name.errors.as_p }}
                </div>
            {% endif %}
    
            {{ form.last_name.label_tag }}
            <div class="mb-5">
                {{ form.last_name }}
            </div>
            {% if form.last_name.errors %}
                <div class="mb-5 ml-2">
                    {{ form.last_name.errors }}
                </div>
            {% endif %}
    
            {{ form.middle_name.label_tag }}
            <div class="mb-5">
                {{ form.middle_name }}
            </div>
            {% if form.middle_name.errors %}
                <div class="mb-5 ml-2">
                    {{ form.middle_name.errors }}
                </div>
            {% endif %}
    
            {{ form.phone_number.label_tag }}
            <div class="mb-5">
                {{ form.phone_number }}
            </div>
            {% if form.phone_number.errors %}
                <div class="mb-5 ml-2">
                    {{ form.phone_number.errors }}
                </div>
            {% endif %}
            {{ form.city.label_tag }}
            <div class="mb-5">
                {{ form.city }}
            </div>
            {% if form.city.errors %}
                <div class="mb-5 ml-2">
                    {{ form.city.errors }}
                </div>
            {% endif %}
    
            {{ form.street.label_tag }}
            <div class="mb-5">
                {{ form.street }}
            </div>
            {% if form.street.errors %}
                <div class="mb-5 ml-2">
                    {{ form.street.errors }}
                </div>
            {% endif %}
    
            {{ form.house.label_tag }}
            <div class="mb-5">
                {{ form.house }}
            </div>
            {% if form.house.errors %}
                <div class="mb-5 ml-2">
                    {{ form.house.errors }}
                </div>
            {% endif %}
    
            {{ form.housing.label_tag }}
            <div class="mb-5">
                {{ form.housing }}
            </div>
            {% if form.housing.errors %}
                <div class="mb-5 ml-2">
                    {{ form.housing.errors }}
                </div>
            {% endif %}
    
            {{ form.apartment.label_tag }}
            <div class="mb-5">
                  {{ form.apartment }}
              </div>
            {% if form.apartment.errors %}
                <div class="mb-5 ml-2">
                    {{ form.apartment.errors }}
                </div>
            {% endif %}
    
            {{ form.intercom_code.label_tag }}
            <div class="mb-5">
                  {{ form.intercom_code }}
            </div>
            {% if form.intercom_code.errors %}
                <div class="mb-5 ml-2">
                    {{ form.intercom_code.errors }}
                </div>
            {% endif %}
            {{ form.card_number.label_tag }}
            <div class="mb-5">
                {{ form.card_number }}
            </div>
            {% if form.card_number.errors %}
                <div class="mb-5 ml-2">
                    {{ form.card_number.errors }}
                </div>
            {% endif %}
    
            {{ form.expiry_date.label_tag }}
            <div class="mb-5">
                {{ form.expiry_date }}
            </div>
            {% if form.expiry_date.errors %}
                <div class="mb-5 ml-2">
                    {{ form.expiry_date.errors }}
                </div>
            {% endif %}
    
            {{ form.cvc_code.label_tag }}
            <div class="mb-5">
                {{ form.cvc_code }}
            </div>
            {% if form.cvc_code.errors %}
                <div class="mb-5 ml-2">
                    {{ form.cvc_code.errors }}
                </div>
            {% endif %}
            {% if form.non_field_errors %}
                <div class="mb-5 ml-2">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      </form>
    </div>
    <div class="col-span-3">
      <table>
        <thead>
          <tr>
            <th class="text-[#999999]">Изображение</th>
            <th class="text-[#999999]">Наименование</th>
            <th class="text-[#999999]">Количество</th>
            <th class="text-[#999999]">Сумма</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr style="border-bottom: 2px solid black" class="tRow">
                <td style="width:30%"><img class="mx-auto" src="{% static product.1 %}" alt="Product" width="50%"></td>
                <td class="font-bold text-[#333333] text-center">{{product.0.name}}</td>
                <td class="font-bold text-[#333333] text-center">
                  <div>{{product.0.sale_price}} руб.</div>
                  <div class="mt-2">
                    <button class="plusBtn bg-[#333333] py-2 px-5"><p class="text-white text-[18px]">+</p></button>
                    <input type="number" name="{{product.3}}" class="quantity border-none focus:ring-0" value="{{product.2}}" style="width: 5em" disabled>
                    <button class="minusBtn bg-[#333333] py-2 px-5"><p class="text-white text-[18px]">-</p></button>
                    <button class="delBtn bg-[#333333] py-2 px-5"><p class="text-white text-[18px]">Удалить</p></button>
                  </div>
                </td>
                <td class="font-bold text-[#333333] text-center"><span class="localPrice" data-price="{{product.0.sale_price}}">{% widthratio product.0.sale_price 1 product.2 %}</span> руб.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <h1 class="font-bold text-[#333333] text-[32px] mt-2">Итог: <span id="total"></span></h1>
      <div class="flex justify-center">
        <button class="bg-[#333333] py-2 px-5" name="createOrder" value="true" type="button" onclick="detailsForm.submit()"><p class="text-white text-[32px]">Заказать</p></button>
      </div>
    </div>
  </div>
</div>
{% else %}
<h1 class="font-bold text-[#333333] text-[32px] text-center">Корзина пуста!</h1>
{% endif %}
{% endif %}
<script>
  const plusBtn = document.getElementsByClassName("plusBtn");
  const inputEl = document.getElementsByClassName("quantity");
  const minusBtn = document.getElementsByClassName("minusBtn");

  const tRow = document.getElementsByClassName("tRow");
  const delBtn = document.getElementsByClassName("delBtn");

  const total = document.getElementById("total");
  const localPrice = document.getElementsByClassName("localPrice");

  const detailsForm = document.getElementById("detailsForm");

  const cartQuantity = document.getElementById("cartQuantity");

  const plusAction = (inp, price) => {
    fetch('/cart/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json; charset=UTF-8',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({'action': "plus", "id": inp.name})
    }).then((res) => {
      return res.json();
    }).then((data) => {
      inp.value++;
      total.innerText = data.totalPrice;
      price.innerText = inp.value * price.dataset.price;
      cartQuantity.innerText = data.totalQuantity;
    });
  }

  const minusAction = (inp, price) => {
    if (inp.value > 1) {
      fetch('/cart/', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json; charset=UTF-8',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({'action': "minus", "id": inp.name})
      }).then((res) => {
        return res.json();
      }).then((data) => {
        inp.value--;
        total.innerText = data.totalPrice;
        price.innerText = inp.value * price.dataset.price;
        cartQuantity.innerText = data.totalQuantity;
      });
    }
  }

  const delAction = (inp, row) => {
    fetch('/cart/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json; charset=UTF-8',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({'action': "delete", "id": inp.name})
    }).then((res) => {
      return res.json();
    }).then((data) => {
      row.remove();
      total.innerText = data.totalPrice;
      if (data.totalQuantity == 0) {
        document.location.reload();
      } else {
        cartQuantity.innerText = data.totalQuantity;
      }
    });
  }

  const updateTotalAction = () => {
    fetch('/cart/', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json; charset=UTF-8',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({'action': "update"})
    }).then((res) => {
      return res.json();
    }).then((data) => {
      total.innerText = data.totalPrice;
      cartQuantity.innerText = data.totalQuantity;
    });
  }

  window.onload = updateTotalAction;

  Array.from(plusBtn).forEach((btn, i) => {
    btn.onclick = (event) => plusAction(inputEl[i], localPrice[i]);
  });

  Array.from(minusBtn).forEach((btn, i) => {
    btn.onclick = (event) => minusAction(inputEl[i], localPrice[i]);
  });

  Array.from(delBtn).forEach((btn, i) => {
    btn.onclick = (event) => delAction(inputEl[i], tRow[i]);
  });
</script>
{% endblock content %}