<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    {% load tailwind_tags %}
    {% tailwind_css %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <style>
      html {
        font-family: 'Roboto', sans-serif;
      }

      footer {
        background: #333333;
      }

      header {
        background: white;
      }
    </style>

    {% block icon %}{% endblock icon %}
    {% block files %}{% endblock files %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <header>
        {% include 'navbar.html' %}
      </header>
      <main>
        {% block content %}{% endblock content %}
      </main>
      <footer class="h-10">
        {% include 'footer.html' %}
      </footer>
    </div>
  </body>
</html>